.about-wrapper {
    .top-section-title {
        .sub-title {
            margin-bottom: 23px;
        }

        .title {
            max-width: 1206px;
            margin: 0 auto;

            span {
                position: relative;
                top: -15px;

                .thumb-one {
                    border-radius: 80px;
                    width: 186px;
                    height: 81px;
                }

                .thumb-two {
                    border-radius: 80px;
                    width: 100px;
                    height: 64px;
                }

                .thumb-three {
                    border-radius: 80px;
                    width: 82px;
                    height: 81px;
                }

                img {
                    object-fit: cover;
                }
            }
        }
    }

    .about-main-content {
        .big-text {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .text-one {
                font-family: var(--font-body);
                font-style: italic;
                font-weight: 600;
                font-size: 306px;
                line-height: 120%;
                letter-spacing: -0.01em;
                background: white;
                -webkit-text-stroke: 2px var(--theme);
                -webkit-text-fill-color: transparent;
            }

            .text-tow {
                font-family: var(--font-body);
                font-style: italic;
                font-weight: 600;
                font-size: 306px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: var(--theme);
                position: absolute;
                top: 0px;
                left: 51%;
                transform: translatex(-50%);
            }

            .text-three {
                font-family: var(--font-body);
                font-style: italic;
                font-weight: 600;
                font-size: 229px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: var(--title-color);
                position: absolute;
                top: 203px;
                right: 440px;
            }

            .about-cta {
                font-family: var(--font-primary);
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: var(--title-color);
                transform: rotate(17deg);
                border: 1px solid var(--title-color);
                border-radius: 30px;
                padding: 8px 24px;

                &.one {
                    position: absolute;
                    bottom: 13px;
                    left: 28%;
                }

                &.two {
                    position: absolute;
                    top: 141px;
                    right: 26%;
                }
            }
        }
    }

    .about-bottom-content {
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 121px;

        .about-text {
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: var(--black-2);
            max-width: 887px;
        }

        .about-button {
            display: flex;
            gap: 24px;
            align-items: center;

            .button-one {
                font-family: var(--font-primary);
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: var(--white);

                border-radius: 40px;
                padding: 16px 24px;
                background-color: var(--theme-2);

            }

            .button-two {
                font-family: var(--font-primary);
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: var(--title-color);
                width: 231px;
                height: 56px;
                border: 1px solid var(--title-color);
                border-radius: 30px;
                padding: 16px 24px;

            }
        }
    }

    .about-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--theme-2);
        height: 152px;
        margin-top: 112px;

        .footer-content {
            display: flex;
            gap: 48px;
            align-items: center;
        }

        span {
            font-family: var(--font-primary);
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: var(--white);
        }

        img {
            width: 88.73px;
            height: 88.73px;
            border-radius: 50%;
        }

    }
}