.food-menu-wrapper {
    background-color: var(--title-color);
    padding-bottom: 112px;

    .top-section-title {
        padding-bottom: 160px;

        .menu-title {
            font-family: var(--font-primary);
            font-weight: 400;
            font-size: 80px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: var(--white);
            margin-top: 16px;

            .two {
                text-align: right;
                margin-top: 10px;
            }
        }

    }

    .card-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .menu-item {

            &:nth-child(odd) {
                padding-right: 40px;
                padding-top: 40px;
                padding-bottom: 40px;

                border-right: 1px solid var(--white);
                border-top: 1px solid var(--white);
                border-bottom: 1px solid var(--white);


            }

            &:nth-child(even) {
                padding-left: 40px;
                padding-top: 40px;
                padding-bottom: 40px;
                border-top: 1px solid var(--white);
                border-bottom: 1px solid var(--white);


            }

            .price-box {
                border-radius: 80px;
                padding: 8px 24px;
                width: 100px;
                height: 43px;
                background: var(--white);
                position: absolute;
                right: 0;
                top: 0;

                .price {
                    font-style: italic;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    color: var(--title-color);
                }
            }

            .thumb {
                position: relative;
                height: 680px;

                img {
                    width: 680px;
                    height: 680px;
                    border-radius: 100%;
                    object-fit: cover;
                    border: 2px solid gray;

                }
            }

            .content {
                display: flex;
                color: var(--white);
                justify-content: space-between;
                align-items: center;

                border: 1px solid var(--white);
                border-radius: 80px;
                padding: 24px 32px;
                width: 680px;
                height: 86px;
                background: var(--title-color);

                position: relative;
                top: -50px;


                .title {
                    font-family: var(--font-primary);
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 120%;
                    letter-spacing: -0.01em;
                }

                .sub-menu {
                    font-style: italic;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }
    }

    .view-food {
        border-radius: 100%;
        width: 139px;
        height: 139px;
        background: var(--white);
        margin: 0 auto;
        margin-top: 80px;

        position: relative;

        .shape {
            height: 100%;
            display: flex;
            flex-direction: column;

            .arrow {
                position: absolute;
                top: 13px;
                left: 43px;
            }

            .vector-image {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

            }

            .content {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: var(--title-color);
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}