.hero-wrapper {
    padding-top: 177px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--header-color);
    position: relative;

    .hero-bottom-image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        

    }

    .hero-bottom-tow {
        position: absolute;
        bottom: 115px;
        right: 67px;
        z-index: 1;

    }

    .hero-top,
    .hero-middle,
    .hero-bottom {
        position: relative;
        z-index: 2;
    }

    .hero-top {
        margin-top: 112px;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .left-mid-content {
            display: flex;
            gap: 32px;
        }

        .left-content {
            font-family: var(--font-secondary);
            font-weight: 400;
            font-size: 20px;
            line-height: 110%;
            letter-spacing: -0.01em;
            color: var(--theme-3);
        }

        .mid-content {
            font-family: var(--font-primary);
            font-weight: 400;
            font-size: 80px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: var(--white);
            max-width: 685px;
        }

        .right-content {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .para {

                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: var(--white);
                max-width: 497px;
            }

            .client-image {
                margin-left: 33px;

                img {
                    margin-left: -33px;
                }
            }
        }
    }

    .hero-middle {
        display: flex;
        justify-content: space-between;
        margin-top: 38px;

        .day-time-left,
        .day-time-right {
            font-family: var(--font-primary);
            font-weight: 400;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: var(--white);
        }

    }

    .hero-bottom {
        position: relative;
        margin-top: 24px;
        padding-bottom: 41px;

        .time {
            display: flex;
            justify-content: space-between;

            .time-left,
            .time-right {
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: var(--white);

            }
        }

        .big-title {
            margin: 0 auto;

        }
    }
}