/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Luxurious+Script&family=ZCOOL+XiaoWei&display=swap');


body {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: var(--text-color);
    background-color: var(--white);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
}

input:focus {
    color: var(--text-color);
    outline: none;
}

input {
    &::placeholder {
        color: #767771;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    margin: 0px;
    padding: 0;
    color: var(--header-color);
    @include transition;

}

h1 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 400px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--white);

    @include breakpoint(max-xxl) {
        font-size: 75px;
        line-height: 75px;
    }
}

h2 {
    font-size: 100px;
    font-weight: 600;
    line-height: 110px;

    @include breakpoint(max-md) {
        font-size: 34px;
        line-height: 36px;
    }

    @include breakpoint(max-sm) {
        font-size: 45px;
        line-height: 48px;
    }

    @include breakpoint(max-xxsmall) {
        font-size: 35px !important;
        line-height: 38px !important;
    }
}

h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;

    @include breakpoint(max-md) {
        font-size: 16px;
    }
}

h4 {
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;

    @include breakpoint(max-xxl) {
        font-size: 20px;
    }
}

h5 {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
}

h6 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

h2 a {
    font-size: 100px;
    font-weight: 600;
    line-height: 110px;
    display: inline-block;

    @include breakpoint(max-md) {
        font-size: 45px !important;
    }

    @include breakpoint(max-sm) {
        font-size: 28px !important;
    }
}

h3 a {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    display: inline-block;

    @include breakpoint(max-md) {
        font-size: 16px;
    }
}

h4 a {
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;
    display: inline-block;
}

h5 a {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    display: inline-block;
}

h6 a {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

a {
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    color: var(--header-color);
    @include transition;

    &:hover {
        color: var(--orange) !important;
    }
}

p {
    margin: 0px;
    @include transition;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

span {
    margin: 0px;
    @include transition;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

span a {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}