/*----------------------------------------*/
/*  1.3 Default Spacing
/*----------------------------------------*/

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
$mt-used: 5, 10, 15;
$mb-used: 10, 20, 32,40;
$pt-used: 5, 8, 12, 110;
$pl-used: 5, 8, 12;

@each $i in $mt-used {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
}

@each $i in $mb-used {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@each $i in $pl-used {
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

@each $i in $pt-used {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
}